body{
	background: blue;
}

h1{
	background: white;
	text-align: center;
	border: solid black 2px;
	font-family: 'Raleway', sans-serif;
}

header{
	background:green;
	border: solid black 2px;
	font-family: 'Raleway', sans-serif;
}

footer{
	background: white;
	border: solid black 2px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#main{
	border:solid black 2px;
	background: grey;
}
